@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

#home {
    background-image: url('../img/background.png');
}

.btn {
    background-color: #FF7A0E; /* Updated accent color */
    border: 1px solid #FF7A0E; /* Updated accent color */
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #FF9C3F; /* Slightly lighter shade for hover effect */
    border: 1px solid #FF9C3F; /* Slightly lighter shade for hover effect */
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links li a {
    color: #FF7A0E; /* Updated icon color */
    border: 2px solid #FF7A0E; /* Updated border color */
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 40px; /* Adjusted width for circle appearance */
    height: 40px; /* Adjusted height for circle appearance */
    line-height: 20px; /* Adjust line height for vertical alignment */
}

.social-links li a:hover {
    background: #FF9C3F; /* Slightly lighter shade for hover effect */
    border-color: #000000;
    color: #000000; /* Change icon color on hover for better contrast */
}

.myform .form-control:focus,
.myform textarea.inputError:focus,
.input-group .form-control:focus {
    border: 2px solid #FF7A0E; /* Updated border color */
}

footer {
    color: #000000; /* Ensure footer text is visible */
    font-size: 16px;
}

footer a {
    color: #000000; /* Ensure footer text is visible */
}


footer a:hover{
color: #FF7A0E;
}